.idea/
*.iml
*.iws
.idea_modules/
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
.settings/
.project
.externalToolBuilders/
*.launch
.classpath
.buildpath
target/
*.class
*.jar
*.war
*.ear
dependency-reduced-pom.xml
hs_err_pid*
.pmd
.checkstyle
.pmdruleset.xml
pom.xml.releaseBackup
release.properties
properties.py
*.pyc
